In [1]:
import pandas as pd
import pandera as pa

In [2]:
valores_ausentes = ['***', '###!', '####', '****', '*****', 'NULL']
# Extração de dados
# not available (na)
df = pd.read_csv("ocorrencia.csv", sep=";", parse_dates=['ocorrencia_dia'], dayfirst=True, na_values=valores_ausentes)
df.head(10)

,codigo_ocorrencia1,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,52242,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,0
1,45331,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,3
2,45333,45333,ACIDENTE,VIAMÃO,RS,NaN,2012-01-06,13:00:00,0
3,45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,NaN,2012-01-06,17:00:00,0
4,45407,45407,ACIDENTE,SÃO SEPÉ,RS,NaN,2012-01-06,16:30:00,0
5,52243,52243,INCIDENTE,UBATUBA,SP,NaN,2012-01-06,14:30:00,0
6,50713,50713,INCIDENTE GRAVE,CAMPINAS,SP,SDAI,2012-01-07,18:15:00,0
7,45334,45334,INCIDENTE,BELÉM,PA,SBBE,2012-01-08,19:12:00,0
8,45391,45391,ACIDENTE,CONCEIÇÃO DAS ALAGOAS,MG,NaN,2012-01-08,16:00:00,0
9,52244,52244,INCIDENTE,UBERLÂNDIA,MG,SBUL,2012-01-08,22:13:00,0

In [5]:
# pa.Check.str_length(2,2) retorna True se a string tiver 2 caracteres.
# requered é True por padrão.
# nullable ignora
schema = pa.DataFrameSchema(
    columns={
        "codigo_ocorrencia1": pa.Column(pa.Int),
        "codigo_ocorrencia2": pa.Column(pa.Int),
        "ocorrencia_classificacao": pa.Column(pa.String),
        "ocorrencia_cidade": pa.Column(pa.String),
        "ocorrencia_uf": pa.Column(pa.String, pa.Check.str_length(2,2)),
        "ocorrencia_aerodromo": pa.Column(pa.String, nullable=True),
        "ocorrencia_dia": pa.Column(pa.DateTime),
        "ocorrencia_hora": pa.Column(pa.String, pa.Check.str_matches(r'^([0-1]?[0-9]|[2][0-3]):([0-5][0-9])(:[0-5][0-9])?$'), nullable=True),
        "total_recomendacoes": pa.Column(pa.Int)
    }
)

In [7]:
# Validação de dados
schema.validate(df)

,codigo_ocorrencia1,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,52242,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,0
1,45331,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,3
2,45333,45333,ACIDENTE,VIAMÃO,RS,NaN,2012-01-06,13:00:00,0
3,45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,NaN,2012-01-06,17:00:00,0
4,45407,45407,ACIDENTE,SÃO SEPÉ,RS,NaN,2012-01-06,16:30:00,0
...,...,...,...,...,...,...,...,...,...
5162,80458,80458,ACIDENTE,JATAÍ,GO,NaN,2021-12-30,20:30:00,0
5163,80452,80452,ACIDENTE,MARACAÍ,SP,NaN,2021-12-31,09:30:00,0
5164,80457,80457,INCIDENTE GRAVE,NOVO HAMBURGO,RS,SSNH,2021-12-31,11:59:00,0
5165,80460,80460,INCIDENTE,CURITIBA,PR,SBBI,2021-12-31,15:12:00,0
5166,80467,80467,INCIDENTE,PETROLINA,PE,SBPL,2021-12-31,20:30:00,0

In [8]:
df.dtypes

codigo_ocorrencia1                   int64
codigo_ocorrencia2                   int64
ocorrencia_classificacao            object
ocorrencia_cidade                   object
ocorrencia_uf                       object
ocorrencia_aerodromo                object
ocorrencia_dia              datetime64[ns]
ocorrencia_hora                     object
total_recomendacoes                  int64
dtype: object

In [10]:
# busca pelo index
# buscando a ultima linha do dataframe
df.iloc[-1]

codigo_ocorrencia1                        80467
codigo_ocorrencia2                        80467
ocorrencia_classificacao              INCIDENTE
ocorrencia_cidade                     PETROLINA
ocorrencia_uf                                PE
ocorrencia_aerodromo                       SBPL
ocorrencia_dia              2021-12-31 00:00:00
ocorrencia_hora                        20:30:00
total_recomendacoes                           0
Name: 5166, dtype: object

In [11]:
# fatiar pelo index
df.iloc[10:15]

,codigo_ocorrencia1,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
10,45332,45332,ACIDENTE,VIAMÃO,RS,NaN,2012-01-09,13:30:00,0
11,52245,52245,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-09,13:36:00,0
12,45396,45396,INCIDENTE GRAVE,MARABÁ,PA,SBMA,2012-01-11,11:21:00,0
13,45408,45408,ACIDENTE,ELDORADO,SP,NaN,2012-01-11,13:45:00,1
14,45447,45447,INCIDENTE,RIO BRANCO,AC,NaN,2012-01-13,18:15:00,0

In [12]:
# fatiar pelo label
df.loc[10:15]

,codigo_ocorrencia1,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
10,45332,45332,ACIDENTE,VIAMÃO,RS,NaN,2012-01-09,13:30:00,0
11,52245,52245,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-09,13:36:00,0
12,45396,45396,INCIDENTE GRAVE,MARABÁ,PA,SBMA,2012-01-11,11:21:00,0
13,45408,45408,ACIDENTE,ELDORADO,SP,NaN,2012-01-11,13:45:00,1
14,45447,45447,INCIDENTE,RIO BRANCO,AC,NaN,2012-01-13,18:15:00,0
15,45409,45409,ACIDENTE,CÁCERES,MT,NaN,2012-01-14,10:00:00,0

In [13]:
df.isnull().sum()

codigo_ocorrencia1             0
codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  0
ocorrencia_aerodromo        1905
ocorrencia_dia                 0
ocorrencia_hora                1
total_recomendacoes            0
dtype: int64

In [17]:
filtro = df.ocorrencia_hora.isnull()
df.loc[filtro]

,codigo_ocorrencia1,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
2974,78823,78823,INCIDENTE,CORUMBÁ,MS,NaN,2017-07-09,NaN,0

In [21]:
# pelo filtro conseguimos saber quais linhas estão com valores nulos mediante a coluna utilizada
filtro = df.ocorrencia_hora.isnull()
df.loc[filtro]

,codigo_ocorrencia1,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
2974,78823,78823,INCIDENTE,CORUMBÁ,MS,NaN,2017-07-09,NaN,0

In [22]:
# pelo count conseguimos acompanhar os valores nulos
df.count()

codigo_ocorrencia1          5167
codigo_ocorrencia2          5167
ocorrencia_classificacao    5167
ocorrencia_cidade           5167
ocorrencia_uf               5167
ocorrencia_aerodromo        3262
ocorrencia_dia              5167
ocorrencia_hora             5166
total_recomendacoes         5167
dtype: int64

In [25]:
# ocorrencias com mais de 10 recomendacoes
filtro = df.total_recomendacoes > 10
df.loc[filtro]

,codigo_ocorrencia1,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
844,47938,47938,INCIDENTE,BRASÍLIA,DF,SBBR,2013-04-13,18:00:00,11
1669,52265,52265,ACIDENTE,SANTOS,SP,NaN,2014-08-13,13:03:00,13
2804,66432,66432,INCIDENTE GRAVE,VITÓRIA,ES,NaN,2017-02-21,11:47:00,12

In [26]:
# trazendo as colunas de interesse no filtro
filtro = df.total_recomendacoes > 10
df.loc[filtro, 'ocorrencia_cidade']

844     BRASÍLIA
1669      SANTOS
2804     VITÓRIA
Name: ocorrencia_cidade, dtype: object

In [27]:
# Para saber qual é o numero total das recomendações
# utiliz-se lista
filtro = df.total_recomendacoes > 10
df.loc[filtro, ['ocorrencia_cidade','total_recomendacoes']]

     ocorrencia_cidade  total_recomendacoes
844           BRASÍLIA                   11
1669            SANTOS                   13
2804           VITÓRIA                   12

In [29]:
filtro = df.ocorrencia_classificacao == 'INCIDENTE GRAVE'
df.loc[filtro, ['ocorrencia_cidade','total_recomendacoes']]

        ocorrencia_cidade  total_recomendacoes
6                CAMPINAS                    0
12                 MARABÁ                    0
18                CAMOCIM                    0
19                  MUANÁ                    0
24           RONDONÓPOLIS                    0
...                   ...                  ...
5139    NOVA BANDEIRANTES                    0
5146  FORMOSO DO ARAGUAIA                    0
5158            ARAÇATUBA                    0
5159           SANTA RITA                    0
5164        NOVO HAMBURGO                    0

[691 rows x 2 columns]

In [35]:
# ocorrencias cuja classificacao seja INCIDENTE GRAVE ou estado seja SP
# operador lógico AND (&) e OR (|)
filtro1 = df.ocorrencia_classificacao == 'INCIDENTE GRAVE' 
filtro2 = df.ocorrencia_uf == 'SP'
df.loc[filtro1 | filtro2]

,codigo_ocorrencia1,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
1,45331,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,3
3,45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,NaN,2012-01-06,17:00:00,0
5,52243,52243,INCIDENTE,UBATUBA,SP,NaN,2012-01-06,14:30:00,0
6,50713,50713,INCIDENTE GRAVE,CAMPINAS,SP,SDAI,2012-01-07,18:15:00,0
12,45396,45396,INCIDENTE GRAVE,MARABÁ,PA,SBMA,2012-01-11,11:21:00,0
...,...,...,...,...,...,...,...,...,...
5158,80454,80454,INCIDENTE GRAVE,ARAÇATUBA,SP,SBAU,2021-12-29,21:35:00,0
5159,80455,80455,INCIDENTE GRAVE,SANTA RITA,PB,NaN,2021-12-29,18:50:00,0
5161,80456,80456,INCIDENTE,SÃO PAULO,SP,SBSP,2021-12-30,13:15:00,0
5163,80452,80452,ACIDENTE,MARACAÍ,SP,NaN,2021-12-31,09:30:00,0
5164,80457,80457,INCIDENTE GRAVE,NOVO HAMBURGO,RS,SSNH,2021-12-31,11:59:00,0

In [39]:
# ocorrencias cuja classificacao seja INCIDENTE GRAVE ou classificacao INCIDENTE e o estado seja SP onde o total de recomendações seja maior que 10
# operador lógico AND (&) e OR (|)
filtro1 = ((df.ocorrencia_classificacao == 'INCIDENTE GRAVE') | (df.ocorrencia_classificacao == 'INCIDENTE')) & (df.total_recomendacoes > 0)
filtro2 = df.ocorrencia_uf == 'SP'
df.loc[filtro1 & filtro2]

,codigo_ocorrencia1,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
140,45651,45651,INCIDENTE GRAVE,ITU,SP,NaN,2012-03-24,20:45:00,1
165,45752,45752,INCIDENTE GRAVE,BRAGANÇA PAULISTA,SP,SBBP,2012-04-11,12:00:00,4
404,46451,46451,INCIDENTE GRAVE,CAMPINAS,SP,SDAM,2012-08-30,19:25:00,1
479,46445,46445,INCIDENTE GRAVE,CATANDUVA,SP,SDCD,2012-10-07,15:30:00,3
822,47353,47353,INCIDENTE GRAVE,TAUBATÉ,SP,NaN,2013-03-29,16:00:00,1
1359,51015,51015,INCIDENTE GRAVE,GUARUJÁ,SP,SBST,2014-01-29,17:00:00,1
1488,51027,51027,INCIDENTE GRAVE,GUARULHOS,SP,SBGR,2014-04-09,16:17:00,3
1780,52694,52694,INCIDENTE GRAVE,BRAGANÇA PAULISTA,SP,SBBP,2014-10-23,16:00:00,1
1827,52816,52816,INCIDENTE GRAVE,LINS,SP,NaN,2014-12-02,15:40:00,1
2090,53326,53326,INCIDENTE GRAVE,GUARATINGUETÁ,SP,SBGW,2015-06-10,19:15:00,1
2270,53551,53551,INCIDENTE GRAVE,BRAGANÇA PAULISTA,SP,SBBP,2015-11-05,19:15:00,1
2397,60730,60730,INCIDENTE,ITANHAÉM,SP,SDIM,2016-02-10,13:00:00,2
2543,65359,65359,INCIDENTE GRAVE,PIRACICABA,SP,SDPW,2016-06-25,13:59:00,2
2718,66090,66090,INCIDENTE GRAVE,BRAGANÇA PAULISTA,SP,SBBP,2016-12-07,19:10:00,1
2806,66444,66444,INCIDENTE GRAVE,SÃO PAULO,SP,SBSP,2017-02-22,21:48:00,1
2839,66544,66544,INCIDENTE,SÃO PAULO,SP,SBSP,2017-03-21,16:48:00,1
2841,66543,66543,INCIDENTE GRAVE,GUARULHOS,SP,SBGR,2017-03-22,01:35:00,3
3175,77202,77202,INCIDENTE GRAVE,UBATUBA,SP,SDUB,2017-12-29,17:30:00,3
3664,78513,78513,INCIDENTE GRAVE,AVARÉ,SP,NaN,2019-01-31,11:02:00,2
3724,78590,78590,INCIDENTE GRAVE,CAMPINAS,SP,SBKP,2019-03-12,22:30:00,6

In [40]:
# ocorrencias cuja classificacao seja INCIDENTE GRAVE ou classificacao INCIDENTE e o estado seja SP onde o total de recomendações seja maior que 10
# operador lógico AND (&) e OR (|)
# metodo isin é utilizado para buscar valores dentro de uma lista
filtro1 = (df.ocorrencia_classificacao.isin(['INCIDENTE GRAVE','INCIDENTE'])) & (df.total_recomendacoes > 0)
filtro2 = df.ocorrencia_uf == 'SP'
df.loc[filtro1 & filtro2]

,codigo_ocorrencia1,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
140,45651,45651,INCIDENTE GRAVE,ITU,SP,NaN,2012-03-24,20:45:00,1
165,45752,45752,INCIDENTE GRAVE,BRAGANÇA PAULISTA,SP,SBBP,2012-04-11,12:00:00,4
404,46451,46451,INCIDENTE GRAVE,CAMPINAS,SP,SDAM,2012-08-30,19:25:00,1
479,46445,46445,INCIDENTE GRAVE,CATANDUVA,SP,SDCD,2012-10-07,15:30:00,3
822,47353,47353,INCIDENTE GRAVE,TAUBATÉ,SP,NaN,2013-03-29,16:00:00,1
1359,51015,51015,INCIDENTE GRAVE,GUARUJÁ,SP,SBST,2014-01-29,17:00:00,1
1488,51027,51027,INCIDENTE GRAVE,GUARULHOS,SP,SBGR,2014-04-09,16:17:00,3
1780,52694,52694,INCIDENTE GRAVE,BRAGANÇA PAULISTA,SP,SBBP,2014-10-23,16:00:00,1
1827,52816,52816,INCIDENTE GRAVE,LINS,SP,NaN,2014-12-02,15:40:00,1
2090,53326,53326,INCIDENTE GRAVE,GUARATINGUETÁ,SP,SBGW,2015-06-10,19:15:00,1
2270,53551,53551,INCIDENTE GRAVE,BRAGANÇA PAULISTA,SP,SBBP,2015-11-05,19:15:00,1
2397,60730,60730,INCIDENTE,ITANHAÉM,SP,SDIM,2016-02-10,13:00:00,2
2543,65359,65359,INCIDENTE GRAVE,PIRACICABA,SP,SDPW,2016-06-25,13:59:00,2
2718,66090,66090,INCIDENTE GRAVE,BRAGANÇA PAULISTA,SP,SBBP,2016-12-07,19:10:00,1
2806,66444,66444,INCIDENTE GRAVE,SÃO PAULO,SP,SBSP,2017-02-22,21:48:00,1
2839,66544,66544,INCIDENTE,SÃO PAULO,SP,SBSP,2017-03-21,16:48:00,1
2841,66543,66543,INCIDENTE GRAVE,GUARULHOS,SP,SBGR,2017-03-22,01:35:00,3
3175,77202,77202,INCIDENTE GRAVE,UBATUBA,SP,SDUB,2017-12-29,17:30:00,3
3664,78513,78513,INCIDENTE GRAVE,AVARÉ,SP,NaN,2019-01-31,11:02:00,2
3724,78590,78590,INCIDENTE GRAVE,CAMPINAS,SP,SBKP,2019-03-12,22:30:00,6

In [42]:
# analisar parte do valor
# ocorrencias cuja cidade comecem com a letra 'C'
# filtro = df.ocorrencia_cidade.str.startswith('C')
filtro3 = df.ocorrencia_cidade.str[0] == 'C'
df.loc[filtro]

,codigo_ocorrencia1,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
6,50713,50713,INCIDENTE GRAVE,CAMPINAS,SP,SDAI,2012-01-07,18:15:00,0
8,45391,45391,ACIDENTE,CONCEIÇÃO DAS ALAGOAS,MG,NaN,2012-01-08,16:00:00,0
15,45409,45409,ACIDENTE,CÁCERES,MT,NaN,2012-01-14,10:00:00,0
18,50714,50714,INCIDENTE GRAVE,CAMOCIM,CE,SNWC,2012-01-17,18:25:00,0
22,45390,45390,ACIDENTE,CACHOEIRA DOURADA,GO,NaN,2012-01-20,21:00:00,0
...,...,...,...,...,...,...,...,...,...
5142,80434,80434,ACIDENTE,CARACOL,MS,NaN,2021-12-14,21:35:00,0
5144,80447,80447,INCIDENTE,CONFINS,MG,SBCF,2021-12-15,17:10:00,0
5150,80445,80445,ACIDENTE,CHUPINGUAIA,RO,NaN,2021-12-20,12:05:00,0
5157,80453,80453,INCIDENTE,CAMPINAS,SP,SBKP,2021-12-29,09:00:00,0
5165,80460,80460,INCIDENTE,CURITIBA,PR,SBBI,2021-12-31,15:12:00,0

In [46]:
# analisar parte do valor
# ocorrencias cuja cidade terminem com a letra 'A'
filtro = df.ocorrencia_cidade.str.endswith('A')
# filtro3 = df.ocorrencia_cidade.str[-1] == 'A'
df.loc[filtro]

,codigo_ocorrencia1,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
5,52243,52243,INCIDENTE,UBATUBA,SP,NaN,2012-01-06,14:30:00,0
9,52244,52244,INCIDENTE,UBERLÂNDIA,MG,SBUL,2012-01-08,22:13:00,0
17,52246,52246,INCIDENTE,BRASÍLIA,DF,SBBR,2012-01-16,16:47:00,0
21,45392,45392,ACIDENTE,BRASÍLIA,DF,NaN,2012-01-19,21:30:00,2
22,45390,45390,ACIDENTE,CACHOEIRA DOURADA,GO,NaN,2012-01-20,21:00:00,0
...,...,...,...,...,...,...,...,...,...
5152,80465,80465,INCIDENTE,VITÓRIA,ES,SBVT,2021-12-21,22:25:00,0
5158,80454,80454,INCIDENTE GRAVE,ARAÇATUBA,SP,SBAU,2021-12-29,21:35:00,0
5159,80455,80455,INCIDENTE GRAVE,SANTA RITA,PB,NaN,2021-12-29,18:50:00,0
5165,80460,80460,INCIDENTE,CURITIBA,PR,SBBI,2021-12-31,15:12:00,0
5166,80467,80467,INCIDENTE,PETROLINA,PE,SBPL,2021-12-31,20:30:00,0

In [52]:
# analisar parte do valor
# ocorrencias cuja cidade terminem com os caracteres 'MA'
filtro = df.ocorrencia_cidade.str[-2:] == 'MA'
df.loc[filtro]

,codigo_ocorrencia1,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
249,45939,45939,ACIDENTE,UMUARAMA,PR,NaN,2012-05-30,19:00:00,0
273,46180,46180,ACIDENTE,AURIFLAMA,SP,NaN,2012-06-16,19:30:00,0
971,49113,49113,INCIDENTE GRAVE,NOVA LIMA,MG,NaN,2013-06-15,12:00:00,4
974,48799,48799,ACIDENTE,CANUTAMA,AM,NaN,2013-06-18,21:30:00,0
1518,80059,80059,INCIDENTE,IVINHEMA,MS,NaN,2014-04-27,11:30:00,0
1529,51347,51347,INCIDENTE,DIADEMA,SP,NaN,2014-05-04,16:00:00,0
1729,52340,52340,ACIDENTE,FAMA,MG,NaN,2014-09-20,15:00:00,1
1840,52832,52832,ACIDENTE,BURITAMA,SP,NaN,2014-12-14,23:40:00,0
1871,52979,52979,ACIDENTE,IVINHEMA,MS,NaN,2015-01-02,14:50:00,0
1914,52984,52984,ACIDENTE,NOVA LIMA,MG,SJLY,2015-02-01,15:10:00,0
1966,53596,53596,INCIDENTE,ITAPEMA,SC,NaN,2015-03-10,21:35:00,0
2031,53223,53223,ACIDENTE,PINDORAMA,SP,NaN,2015-04-22,12:45:00,0
2045,53265,53265,ACIDENTE,PACARAIMA,RR,SDMM,2015-05-05,16:05:00,2
2063,53271,53271,INCIDENTE GRAVE,UMUARAMA,PR,NaN,2015-05-17,17:00:00,0
2556,65414,65414,INCIDENTE GRAVE,NOVA LIMA,MG,SJLY,2016-07-08,19:50:00,1
2599,65633,65633,INCIDENTE GRAVE,NOVA LIMA,MG,NaN,2016-08-31,17:40:00,0
2755,66265,66265,ACIDENTE,BURITAMA,SP,NaN,2017-01-13,16:00:00,0
3104,77371,77371,ACIDENTE,CANUTAMA,AM,SDKH,2017-11-02,19:30:00,1
3186,77612,77612,ACIDENTE,ITAPEMA,SC,NaN,2018-01-06,10:30:00,0
3449,78080,78080,ACIDENTE,ITAPEMA,SC,NaN,2018-07-28,14:20:00,0
3861,78867,78867,INCIDENTE,IRACEMA,RR,NaN,2019-07-06,00:00:00,0
3945,78923,78923,INCIDENTE GRAVE,CANUTAMA,AM,NaN,2019-09-03,14:00:00,0
3955,78782,78782,ACIDENTE,IVINHEMA,MS,NaN,2019-09-08,17:45:00,0
4279,79282,79282,ACIDENTE,ITURAMA,MG,NaN,2020-04-11,12:20:00,0
4314,79338,79338,INCIDENTE,IVINHEMA,MS,NaN,2020-05-15,09:40:00,0
4348,79400,79400,INCIDENTE,IBIRAMA,SC,NaN,2020-06-09,14:00:00,0
4632,79823,79823,ACIDENTE,IRACEMA,RR,NaN,2021-01-05,20:07:00,0
4649,79820,79820,INCIDENTE,NOVA LIMA,MG,SJLY,2021-01-14,09:27:00,0
4651,79830,79830,INCIDENTE,NOVA LIMA,MG,SJLY,2021-01-14,09:27:00,0
4734,79943,79943,INCIDENTE,IBOTIRAMA,BA,SNIT,2021-03-03,11:30:00,0
4967,80227,80227,ACIDENTE,UMUARAMA,PR,NaN,2021-08-02,14:30:00,0
4969,80252,80252,ACIDENTE,IRACEMA,RR,NaN,2021-08-04,11:45:00,0

In [53]:
# analisar parte do valor
# ocorrencias cuja cidade contem os caracteres 'MA'
filtro = df.ocorrencia_cidade.str.contains('MA')
df.loc[filtro]

,codigo_ocorrencia1,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
12,45396,45396,INCIDENTE GRAVE,MARABÁ,PA,SBMA,2012-01-11,11:21:00,0
16,45693,45693,INCIDENTE,MACAÉ,RJ,NaN,2012-01-14,10:30:00,0
45,45682,45682,INCIDENTE,MACAÉ,RJ,NaN,2012-02-01,13:50:00,0
59,45580,45580,INCIDENTE GRAVE,MACAÉ,RJ,NaN,2012-02-07,14:50:00,4
79,45715,45715,INCIDENTE,MANAUS,AM,SWFN,2012-02-20,09:10:00,0
...,...,...,...,...,...,...,...,...,...
5138,80428,80428,ACIDENTE,SANTA VITÓRIA DO PALMAR,RS,NaN,2021-12-11,19:40:00,0
5153,80461,80461,INCIDENTE,MARINGÁ,PR,SBMG,2021-12-24,03:30:00,0
5156,80463,80463,INCIDENTE,MARINGÁ,PR,SBMG,2021-12-28,16:11:00,0
5160,80451,80451,INCIDENTE,MANAUS,AM,SBEG,2021-12-30,14:41:00,0
5163,80452,80452,ACIDENTE,MARACAÍ,SP,NaN,2021-12-31,09:30:00,0

In [55]:
# analisar parte do valor
# ocorrencias cuja cidade contem os caracteres 'MA' ou 'AL'
filtro = df.ocorrencia_cidade.str.contains('MA|AL')
df.loc[filtro]

,codigo_ocorrencia1,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,52242,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,0
8,45391,45391,ACIDENTE,CONCEIÇÃO DAS ALAGOAS,MG,NaN,2012-01-08,16:00:00,0
11,52245,52245,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-09,13:36:00,0
12,45396,45396,INCIDENTE GRAVE,MARABÁ,PA,SBMA,2012-01-11,11:21:00,0
16,45693,45693,INCIDENTE,MACAÉ,RJ,NaN,2012-01-14,10:30:00,0
...,...,...,...,...,...,...,...,...,...
5153,80461,80461,INCIDENTE,MARINGÁ,PR,SBMG,2021-12-24,03:30:00,0
5154,80468,80468,INCIDENTE,SALVADOR,BA,SBSV,2021-12-26,16:56:00,0
5156,80463,80463,INCIDENTE,MARINGÁ,PR,SBMG,2021-12-28,16:11:00,0
5160,80451,80451,INCIDENTE,MANAUS,AM,SBEG,2021-12-30,14:41:00,0
5163,80452,80452,ACIDENTE,MARACAÍ,SP,NaN,2021-12-31,09:30:00,0

In [56]:
# analisar parte do valor
# ocorrencias do ano de 2015
filtro = df.ocorrencia_dia.dt.year == 2015
df.loc[filtro]

,codigo_ocorrencia1,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
1870,52992,52992,INCIDENTE GRAVE,SALVADOR,BA,SBSV,2015-01-01,11:40:00,3
1871,52979,52979,ACIDENTE,IVINHEMA,MS,NaN,2015-01-02,14:50:00,0
1872,53073,53073,INCIDENTE,TEFÉ,AM,SBTF,2015-01-02,16:28:00,0
1873,53074,53074,INCIDENTE,BELO HORIZONTE,MG,SBBH,2015-01-02,20:34:00,0
1874,52976,52976,ACIDENTE,TOLEDO,PR,SBTD,2015-01-04,22:04:00,6
...,...,...,...,...,...,...,...,...,...
2336,60632,60632,INCIDENTE GRAVE,ITABERÁ,SP,NaN,2015-12-24,14:00:00,0
2337,60600,60600,INCIDENTE,GUARULHOS,SP,SBGR,2015-12-25,19:00:00,0
2338,60642,60642,INCIDENTE,SÃO FRANCISCO DO SUL,SC,SSSS,2015-12-26,16:00:00,0
2339,60631,60631,ACIDENTE,MAÇAMBARÁ,RS,NaN,2015-12-28,19:00:00,2
2340,60649,60649,ACIDENTE,PORTO BELO,SC,SDEN,2015-12-31,14:00:00,0

In [63]:
# analisar parte do valor
# ocorrencias do ano de 2015 e mes 12 e dia 8
filtro = (df.ocorrencia_dia.dt.year == 2015) & (df.ocorrencia_dia.dt.month == 12) & (df.ocorrencia_dia.dt.day == 8)
df.loc[filtro]

,codigo_ocorrencia1,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
2310,53628,53628,ACIDENTE,AGUAÍ,SP,NaN,2015-12-08,14:30:00,1
2311,53629,53629,INCIDENTE GRAVE,JALES,SP,SDJL,2015-12-08,10:20:00,0
2312,53631,53631,INCIDENTE,CAMPINAS,SP,SBKP,2015-12-08,16:19:00,0
2313,60636,60636,INCIDENTE,CAXIAS DO SUL,RS,SBCX,2015-12-08,13:00:00,0